
.header{
    background-color: #3b5998;
}

.registration_form_container{
    position: absolute;
    margin: auto;
    margin-top: 80px;
    top: 0;
    right: 0;
    bottom: inherit;
    left: 0; 
    width: 500px;
    height: inherit;
    border: 2px solid black;  
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    text-align: center;
}



.errMsg{
    color: red;
}


.registration-form {
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    padding:10px;
    max-width: 500px;
    
    
}
